.checkout {
	  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
  border: 1px solid rgb(38, 38, 255);
  box-shadow: #0f3040 0.2rem 0.2rem 0.5rem;
  width: 40em;
}