.checkout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	align-items: center;
	text-align: center;
	padding: 3em;
	margin: 1em;
	border: 1px solid #ccc;
	max-width: 40em;
}