.edit {
	  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 1em;
  margin: 1em;
  box-shadow: #0f3040 0.2rem 0.2rem 0.5rem;
  width: 40em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  color: #333;
  transition: background-color 0.3s;
  cursor: pointer;
}