.products {
	
	
	.products-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	
	

	.card {
		display: flex;
		flex-direction: column;
		border: 1px solid rgb(38, 255, 157);
		width: 20em;
		margin: 1em;
		padding: 1em;
		border-radius: 0.5em;
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
		
	}
	button {
		background-color: rgb(130, 167, 216);
		border: none;
		border-radius: 5em;
		width: 6em;
		padding: 0.4em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	
	button:hover {
		background-color: rgb(113, 140, 224);
		cursor: pointer;
	}
	button:active {
		background-color: rgb(113, 140, 224);
		transform: scale(0.95);
	}
	button:focus {
		outline: none;
	}
	.img-container {
		background-color: rgb(226, 226, 164);
		width: 20em;
		margin-bottom: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		
	}
	.page-buttons {
		cursor: pointer;
		background-color: #2c3e50;
		border-radius: 0.2rem;
		color: white;
		border: none;
		padding: 0.31em 1.2em;
		text-decoration: none;
	}
	.page-buttons:hover {
		background-color: #0f3040;
		
	}
	.search {
		width: 100%;
		height: 2em;
		border-radius: 0.5em;
		border: 1px solid rgb(38, 38, 255);
		padding-left: 0.5em;
		margin-bottom: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.add-button {
		background-color: #4caf50;
		color: white;
		padding: 10px 20px;
		border: none;
		cursor: pointer;
		margin-bottom: 20px;
	  }
	  
	  .admin-buttons button {
		background-color: #f44336;
		color: white;
		padding: 5px 10px;
		border: none;
		cursor: pointer;
		margin-right: 10px;
	  }
	  
	  .admin-buttons button:first-child {
		background-color: #2196f3;
	  }
}


